<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="kr.co.nmcs.productInsert">
  	<insert id="insertProduct" parameterType="pidto">
  		INSERT INTO product
  		VALUES (product_seq.nextval,#{name}, (SELECT tcode FROM producttype WHERE type ='${type}'))
  	</insert>
  	
  	<select id="selectType" resultType="pidto">
  		SELECT type
  		FROM producttype	
  	</select>
  	
  	<select id="selectProductList" resultType="pidto">
  		SELECT pcode, name
  		FROM product
  	</select>
  	 	
  </mapper>